<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include("_css") %>
</head>
<body style="background-color: gray;">
    <div class="container">

        <h1>Register as</h1>

    </div>
    <div class="container">
        <a href="/"><button>Cancel</button></a>
        <a href="/register/patient"><button>Patient</button></a>
        <a href="/register/doctor"><button>Doctor</button></a>
    </div>
    
    <%- include("_body") %>
</body>
</html>